body{
    width: 1870px;
    margin-left: .5em;
}

p{
    font-size: 36px;
   
   font-family: 'PT', sans-serif;
   font-style:normal;
   font-weight: 400;
   font-size: 1.5em;
   color: grey;
}

h2, h3{
    font-family: 'Heineken', sans-serif;
    font-size: 2em;
    font-weight: 100;
    margin-top: 0em;
}

span {
    text-align: left;
    font-family: 'Heineken', sans-serif;
    font-size: 2em;
}

.hidden{
    display:none;
}

.container{
    margin-left: 100px;
    margin-right: 100px;
}


.text_down{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 1.25em;
    margin-top: 7em;
    font-weight: 400;
}

/*header properties*/
#menu_icon{
    display:none;
}
.img_size{
    width: 2%;
    height: 2%;
    margin-left:2em;
}


#logo {
    width: 4%;
    height:4%;
}

.head_nav{
    font-size: xx-large;
    margin: 0em;
}

.header-box {     /*used flexbox*/
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #5DAE46;
    width: 1870px;
    height: 124px;
    position: fixed;
}

.head_nav a{
    margin:2em;
    font-family: 'Heineken', sans-serif;
    font-size: 1.10em;
    color: white;
    text-decoration: wavy;
}

/*end header properties*/


/*footer properties*/

.footer-box{
    background-color: #006F2D;
    width:1870px;
    margin-top:2em;
}

.footer-box div p {
    color:white;
    margin-top:1em;
}
.footer-box div a {
    color:white;
    font-size: 36px;
    text-decoration: none;
   font-family: 'PT', sans-serif;
   font-style:normal;
   font-weight: 400;
   font-size: 1.5em;
    margin-top: 1em;
}

.grid-footer {
    display: grid;
    grid-template-columns: 1fr 1fr  1fr ;
    margin: 1em;
    }

/*end footer properties*/    

.products{
    display: inline-block;
    margin: 2em 0em 2em 0em;
}
.products a {
    margin-left: .5em;
}
.products h2 {
    margin-bottom: 1em;
}
.taglines{
    font-size: 50px;
    margin-top: .5em;
    margin-bottom: .5em;
    color: #006F2D;
}
.interactive{
    margin-top: 3em;
    margin-bottom: 3em;
}
.interactive p {
    margin-top: .5em;
    margin-left: .5em;
}

/*images*/
section img{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 3;
    flex-grow: 2;
}
/*end images*/

/*flex box for products and its animation*/

.outer {
    padding: 1em 1em 3em 1em;
    margin: 3em;
    border: #DDCA40 solid 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: color-change;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    flex-shrink: 2;
    
}


@keyframes color-change{
    0% {
        border: #DDCA40 solid 8px;  
    }
    50% {
        border: #006F2D solid 8px;  
    }
    0% {
        border: #5DAE46 solid 8px;  
    }
}


/*flex properties end */



.four-items{
   /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1em;*/
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.two-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em;
    column-gap: 1em;
}



/*media query-responsive sizes- 640*/

@media screen and (max-width: 640px)  {

    body{
        width: 641px;
        margin-left: 0em;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 1.5em;
       /* margin-right: 15px;*/
       margin-bottom: 1px;
    }

    .header-box a, .img_size {
          display: none;
    }

    p{
        font-size: 1em;
       margin-right: 2.5em;
       font-family: 'PT', sans-serif;
       font-style:normal;
       color: grey;
    }

    div p{
        margin-top: 1em;
        font-weight:bold;
    }

    .taglines{
        font-size: 30px;
        margin-top: .5em;
        margin-bottom: .5em;
        color: #006F2D;
    }
    #logo{
  
        width: 9%;
        height:9%;
    }
    
    #menu_icon{
        display:inline-block;
        width: 7%;
        position:relative;
        left: 10em;
        bottom: .3em;
    }

    .disappear{
        display: none;;
    }

    .footer-box{
        background-color: #006F2D;
        width:auto;
        align-items: flex-start;
        margin-top:2em;
    }

    .header-box {     
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #5DAE46;
        /*width: 641px;*/
        height: 74px;
        position: fixed;
    }

    .text_down{
    writing-mode: horizontal-tb;
    font-size: 1.25em;
    margin-top: 2em;
    font-weight: 400;
}
   .big-img{
       margin-left: 3em;
       width: 150%;
       border: #006F2D solid 8px;

   } 

   h2, h3{
    font-family: 'Heineken', sans-serif;
    font-size: 1.4em;
    font-weight: 100;
    margin-top: 0em;
}
span {
    margin-right: 5em;
    margin-left: -4em;
    text-align: left;
    font-family: 'Heineken', sans-serif;
    font-size: 2em;
}
    
}

